#root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

:root {
  --size--2: 0.75rem; /* 12px  */
  --size--1: 0.875rem; /* 14px  */
  --size-0: 1rem; /* 16px  */
  --size-1: 1.25rem; /* 20px  */
  --size-2: 1.563rem; /* 25px  */
  --size-3: 1.953rem; /* 31px  */
  --size-4: 2.441rem; /* 39px  */
  --size-5: 3.052rem; /* ~49px  */
  --size-6: 3.814rem; /* ~61px  */
  --size-7: 4.768rem; /* ~76px  */
  --size-8: 5.959rem; /* ~95px  */
  --size-9: 7.449rem; /* ~119px */
  --color-primary: #5686e5;
  --color-primary-hover: #3460b8;
  --color-background: #f7f3ed;
  --color-text: #222222;
  --color-light-grey: #e3e3e3;
  --color-dark-grey: #b1b1b1;
  --color-status-red: #E6494C;
  --color-status-green: #38BF8E;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

.btn-base {
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  background: var(--color-primary);
  color: white;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--size-0);
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  min-width: 100px;
  height: 50px;
}

.btn-base:hover {
  background: var(--color-primary-hover); /* new hover color */
}

.btn-base:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 96, 184, 0.35);
}

.general {
  max-width: 1344px;
  margin: 0 auto;
  /* user-select: none; */
}
